* {
  border-radius: 3px;
  background: #24283b;
}

window {
  font-size: 14px;
  font-family: Nerd Font Hack;
  opacity: 1.0;
}

#text {
  color: #bb9af7;
}

#text:selected {
  color: #e7dcfc;
}

#input {
  color: #7aa2f7;
  border-color: #7aa2f7;
  border: 5px;
}
