* {
  font-size: 14px;
  font-family: Nerd Font Hack;
  background: #24283b;
}

window {
  opacity: 1.0;
}

#inner-box {
}

#outer-box {
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to bottom right, #6aa2f7, #bb9af7) 1;
}

#text {
  color: #bb9af7;
}

#text:selected {
  color: #e7dcfc;
}

#input {
  color: #7aa2f7;
  border-color: #7aa2f7;
  border: 5px;
}
